quarkus:
  application:
    name: pnc-build-driver
  opentelemetry:
    enabled: true
    tracer:
      enabled: true
      exporter:
        otlp:
          # Send telemetry data to an opentelemetry-collector
          #endpoint: http://localhost:4317
  shutdown:
    timeout: 30
  log:
    category:
      "org.jboss.pnc":
        level: DEBUG
    console:
      format: "%d{HH:mm:ss,SSS} %-5p traceId=%X{traceId}, parentId=%X{parentId}, spanId=%X{spanId}, sampled=%X{sampled} [%c{3.}] (%t) %s%e mdc:[%X]%n"
    handler:
      kafka:
        enabled: false
        broker-list: kafka.example.com:443
        topic: kafka-topic
        security-protocol: SSL
        ssl-truststore-location: /mnt/kafka-client-truststore.jks
        ssl-truststore-password: none
        filter-logger-name-pattern: org.jboss.pnc.*
        level: INFO
  http:
    auth:
      basic: true
    enable-compression: true
    enable-decompression: true
    cors:
      ~: true
      origins: "/.*/"
  oidc:
    auth-server-url: https://keycloak-host/auth/realms/my-realm
    client-id: my-client-id
    tls:
      verification: none
    keycloak:
      policy-enforcer:
        enable: false
  oidc-client:
    auth-server-url: https://keycloak-host/auth/realms/my-realm
    client-id: my-client-id
    credentials:
      secret: hey

  security:
    ldap:
      # enable LDAP: build-time property
      enabled: true
      cache:
        enabled: true
        max-age: 5m
      dir-context:
        url: ldaps://ldap-server.com
      identity-mapping:
        search-base-dn: ou=company.com

build-driver:
  self-base-url: http://this-service-host-for-a-callback/
  script-template: |
    echo 'cd %{workingDirectory}/%{projectName}' >> $${HOME}/.bashrc
    set -xe
    cd %{workingDirectory}
    git clone --progress --branch %{scmTag} --depth 1 %{scmUrl} %{projectName}
    cd %{projectName}
    git_commit_id="$(git rev-parse HEAD)"
    if [[ "%{scmRevision}" != "\${git_commit_id}" ]]; then
      echo "[ERROR] SCM Revision of request doesn't match the commit id from the scm tag"
      echo "[ERROR] Aborting"
      exit 1
    fi
    set +xe
    rm -rf /mnt/secrets/**/* $${HOME}/.ssh/* || { echo "Removal of secrets failed or misconfigured secrets directory. Check build driver configuration." && exit 1; }
    set -xe
    %{command}

pnc_client_auth:
  type: OIDC # or LDAP
  # ldap_credentials:
  #    path: /mnt/secrets/ldap_credentials # file must be in format: <username>:<password>

"%test":
  build-driver:
    self-base-url: http://localhost:8081/
    script-template: |
      set -xe
      cd %{workingDirectory}
      %{command}
  quarkus:
    arc:
      # to use the Mocked one
      exclude-types: org.jboss.pnc.quarkus.client.auth.runtime.PNCClientAuthImpl
    http:
      auth:
        basic: false
    oidc:
      enabled: false
    oidc-client:
      enabled: false
    security:
      ldap:
        enabled: false
    log:
      console:
        json: false

"%dev":
  quarkus:
    log:
      console:
        json: false
